<div class="container-fluid bg-dark position-relative text-white d-flex flex-row">
  <div class="mx-3"><img src="/cmritLogo.png" alt="CMRIT" width="80vw" class="rounded-pill "/></div>
<div class="p-2 h3 d-block my-auto">CMR Institute of Technology</div>

  <div class="ms-auto my-auto">
  <div class="dropdown" data-bs-toggle="dropdown">
    <img src="/static/menu.png" width="30px" alt="Menu"/>
  </div>
  <ul class="dropdown-menu">
    <li class="dropdown-item">User :{{user}}</li>
    <li class="dropdown-item">Name :{{name}}</li>
    <li class="dropdown-item">
      <a href="/" class="btn btn-dark">
          <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
    </li>
    
  </ul>
</div>
  
  
  
</div>