<!DOCTYPE html>
<html lang="en">
<head>
   {{>meta title="Hod"}}
</head>
<body class="row" style="background-image:url(bgImg.webp); background-repeat: no-repeat;background-size:cover;">
{{>header}}
<!--nav tab-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <input type="hidden" id="department" value="{{department}}" readonly>
    <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
  </li>
  <li class="nav-item">
    <input type="hidden" id="user" value="{{user}}" readonly>
    <a class="nav-link" data-bs-toggle="tab" href="#menu1">Staf Permision</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#menu2">Apply Leave</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#menu3">Status</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="home">
      <div class="h4">Student Leave status</div>
      <button hidden id="refresh-2" ></button>
      <div class="row h5 bg-secondary p-3 rounded">
        <div class="col-sm">Roll No</div><div class="col-sm">Name</div><div class="col-sm">Mentor Id</div><div class="col-sm">Reason</div><div class="col-sm">Accept</div><div class="col-sm">Reject</div>
      </div>
      <div class="row mt-2" id="per">
      </div>
  </div>
  <div class="tab-pane container fade" id="menu1">
    <button hidden id="refresh-3"></button>
    <div class="h4">Faculty Leave status</div>
      <div class="row h5 bg-secondary p-3 rounded">
        <div class="col-sm">User</div><div class="col-sm">Name</div><div class="col-sm">Request D/T </div><div class="col-sm">From</div><div class="col-sm">To</div><div class="col-sm">Reason</div><div class="col-sm">Accept</div><div class="col-sm">Reject</div>
      </div>
      <div class="row mt-2" id="stf">
      </div>

  </div>
  <div class="tab-pane container fade" id="menu2">{{>stafLeave title="hod"}}</div>
  <div class="tab-pane container fade" id="menu3">
    <button id="refresh" class="btn btn-primary">Refresh</button>
    <!--status  -->
    <div class="h4 m-2">Leave History Status</div>
    <div id="history" class="container bg-light p-3">
      
    </div>

    <!--status  -->

  </div>
  
<!--Script-->
    
  </div>
</div>

<!--Script-->
<script>
   $(document).ready(function(){
    var history;
      $("#refresh-2").click(function(){
        $.get("/student/leave?mentorPermision=Accepted&hodPermision=Pending&branch="+$('#department').val(),function(data, statusTxt){
      if(statusTxt == "success"){
        var reqst='';
        for(obj of data){
          reqst+=(`<form class='f1' action='/student/leave/${obj._id}' method="POST"><input type="hidden" name="_method" value="PATCH"><div class='row p-2 border-bottom'><div class="col-xs col-sm p-1">${obj.user}</div><div class="col-xs col-sm p-1">${obj.name}</div><div class="col-xs col-sm p-1">${obj.mentorId}</div><div class="col-xs col-sm p-1">${obj.reason}</div><div class="col-xs col-sm p-1"><button  class="btn btn-primary" name="hodPermision" value="Accepted">Accept</button></div><div class="col-xs col-sm p-1"><button class="btn btn-warning" name="hodPermision" value="Rejected">Reject</button></div></div></form>`);
        }
        $("#per").html(reqst);
        $('form.f1 button').on('click',function(e){

            e.preventDefault();
            const form=$(this.form);
            $.post(form.attr('action'),form.serialize()+"&hodPermision="+$(this).attr('value'),function(data,status){
              if(status==='success'){
              $("#refresh-2").click();
                console.log(status);}
            });

           });

        }
       if(statusTxt == "error")  alert("Error somthing went wrong..");
    });
    });

    //staff
    $("#refresh-3").click(function(){
    $.get("/faculty/leave?permision1=Pending&department="+$('#department').val(), function(data, status){
      //alert("faculty data loaded...");
      var reqst1="";
      for(obj of data){
          reqst1+=(`<form class='f2' action='/faculty/leave/${obj._id}' method="POST"><input type="hidden" name="_method" value="PATCH"><div class='row p-2 border-bottom'><div class="col-xs col-sm p-1">${obj.user}</div><div class="col-xs col-sm p-1">${obj.name}</div><div class="col-xs col-sm p-1">${obj.dateTime}</div><div class="col-xs col-sm p-1">${obj.from_date}</div><div class="col-xs col-sm p-1">${obj.to_date}</div><div class="col-xs col-sm p-1">${obj.reason}</div><div class="col-xs col-sm p-1"><button  class="btn btn-primary" name="permision1" value="Accepted">Accept</button></div><div class="col-xs col-sm p-1"><button class="btn btn-warning" name="permision1" value="Rejected">Reject</button></div></div></form>`);
        }
        $("#stf").html(reqst1);
        $('form.f2 button').on('click',function(e){

            e.preventDefault();
            const form=$(this.form);
            $.post(form.attr('action'),form.serialize()+"&permision1="+$(this).attr('value'),function(data,status){
              if(status==='success'){
              $("#refresh-3").click();
                console.log(data);}
            });

           });

        if(status== "error")  alert("Error: " + xhr.status + ": " + xhr.statusText);
      
    });
  });
    //hod status

    function getColor(status){
      if(status=='Pending')return "yellow";
      if(status=='Accepted')return "green";
      if(status=='Rejected')return "red";
    }

     $("#refresh").click(function(){
    $.get("/hod/leave?user="+$("#user").val(), function(data, status){
      history=data;
      alert( "Status updated"+ "\nStatus: " + status);
      let ele='';
      for(obj of data)
      ele+=`<div class="flip mx-auto mt-2 row p-2 w-75 bg-dark text-white rounded ">
        <div class="col-sm">User :${obj.user}</div><div class="col-sm">From :${obj.from_date}</div><div class="col-sm">To :${obj.to_date}</div>
      </div>
      <div style='display:none;' class="panel row mx-auto rounded bg-info w-75 p-2">
        <div class="row input-group mb-3">
            <span class="input-group-text col-xs col-sm">Director Permision:</span><input name="name" type="text" class="form-control col-xs col-sm" style='background-color:${getColor(obj.permision1)}' value="${obj.permision1}" readonly />
        </div>
      </div>`;
    $("#history").html(ele);


      $(".flip").click(function(){
      $(this).next().slideToggle("slow");
      });

    });
  });

  function msg(data){
     $('#resMsg').html(data).css('background-color','#42e6f5');
        setTimeout(()=>{$('#resMsg').html("").css('background-color','');},5000);
  }

    $("#formId").submit(function(e){
      e.preventDefault();
    var fromDate=new Date($('#from').val());
    var toDate=new Date($('#to').val());
    var isIntersect=false;
    for(obj of history){
      console.log(obj);
      if(new Date(obj.from_date)<= toDate && new Date(obj.to_date) >= fromDate){
        isIntersect=true; break;
      }
    }
    console.log(fromDate>toDate);
    if(fromDate>toDate || isIntersect){
      msg("Invalid Leave Date");
    }else
    $.post($(this).attr('action'),$(this).serialize(),function(data,status){
        msg(data);
        $("#refresh").click();
    });

  });

    $("#refresh").click();
    $("#refresh-2").click();
    $("#refresh-3").click();


  });

  window.history.forward();
        function noBack() {
            window.history.forward();
        }
</script>

</body>
</html>