<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta title="Login"}}
    <!-- https://img.freepik.com/free-vector/black-wallpaper-with-motion-lines-background_1017-30151.jpg -->
</head>
<body class=" row" style="background-image:url(./bgImg.webp); background-repeat: no-repeat;background-size: cover;">
    <div class="col-xs col-sm-8 col-md-6  my-5 mx-auto p-4 " style=" background-color: rgb(77, 69, 132); border-radius:20px; box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; ">
        <div class="row mb-3 overflow-hidden">
        <img src="./img.webp" alt="This is Img" style="width:100vw;" >
        </div>
        <div class="d-flex row">
            <div class="col-xs col-sm-12 col-md-6 col-xl-6 text-center text-white overflow-hidden border-end">
                <p >Online Leave</p>
                <img class="mx-auto d-block mt-3 mb-3" src="./pofile.png" alt="This is profile" width="100vw">

                <p >CMR Institute Of Technology</p>
            </div>
            <div class="col-xs col-sm-12 col-md-6 col-xl-6 overflow-hidden">
                <form id="formId" method="post" action="">
                    <div class="p-2">
                        <label for="tlogin" class="form-label text-white">Type of Login:</label>
                        <select class="form-select" name="tlogin" id="tlogin">
                            <option value="student">Student</option>
                            <option value="faculty">Faculty</option>
                            <option value="hod">HOD</option>
                            <option value="director">Director</option>
                            <option value="admin">Admin</option>
                            
                        </select>
                    </div>
                    <div class="form-floating  p-2">
                    <input type="text" class="form-control" id="user" name="user" placeholder="User Id" autocomplete="off" required><label for="user" class="form-label p-3" >User Id</label>
                    </div>
                    <div class="form-floating p-2">
                    <input type="password" class="form-control" id="pass" name="password" placeholder="Enter password" required><label for="pass" class="form-label p-3">Password</label>
                    <a href="/forgotPassword" style="text-decoration: none;color:rgb(110, 150, 212); padding:3px;">forgot-password</a>
                </div>
                    <input type="submit" value="Submit" onclick="newUrl()" class="btn btn-md w-50 btn-primary mx-auto d-block "/>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark fixed-bottom text-white p-2 text-center">
        Copyright © 2023 MUDEDLA MANICHAND.Pvt. Ltd.  20R01A0541 
    </div>
    <script>
        function newUrl(){
        document.getElementById('formId').action=document.getElementById('tlogin').value+"/home";
        }
        
    </script>
</body>
</html>