<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta title="Reset password"}}
</head>
<body class=" row" style="background-image:url(/static/bgImg.webp);background-size: cover;">
    <div class="col-xs col-sm-8 col-md-6  my-5 mx-auto p-4 " style=" background-color: rgb(77, 69, 132); border-radius:20px; box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; ">
        <div class="row mb-3 overflow-hidden">
        <img src="/static/img.webp" alt="This is Img" style="width:100vw;" >
        </div>
        <div class="d-flex row">
            <div class="col-xs col-sm-12 col-md-6 col-xl-6 mx-auto overflow-hidden">
                <div class="h3 text-center p-1 rounded" style="background-color: rgb(231, 231, 15);">Reset Password</div>
                <form id="formId" onsubmit="return validate();" method="post" action="../{{LType}}/user/{{_id}}">
                    <input type="hidden" name="_method" value="PATCH"/>
                    <div class="form-floating  p-2 mb-2">
                        <input type="password" class="form-control" id="pass" name="password" placeholder="password" autocomplete="off" required><label for="pass" class="form-label p-3" >Change Password</label>
                    </div>
                    <div class="form-floating  p-2 mb-2">
                    <input type="password" class="form-control" id="cpass" name="conformPass" placeholder="conform password" autocomplete="off" required><label for="cpass" class="form-label p-3" >Conform Password</label>
                    </div>
                    <div id="msg" class="text-danger"></div>
                    <input type="submit" value="Submit" class="btn btn-md w-50 btn-primary mx-auto d-block "/>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark fixed-bottom text-white p-2 text-center">
        Copyright © 2023 MUDEDLA MANICHAND.Pvt. Ltd.  20R01A0541 
    </div>
    <script>
        function validate(){
            if(document.getElementById('pass').value !== document.getElementById('cpass').value ){
                document.getElementById('msg').innerHTML="password mismatch";
                return false;
            }
            return true;
        }
      function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>
</body>
</html>