<!DOCTYPE html>
<html lang="en">
<head>
   {{>meta title="faculty"}}
</head>
<body class="row" >
{{>header}}
<!--nav tab-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <input type="hidden" id="user" value="{{user}}"/>
    <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#menu1">Apply Leave</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#menu2">Status</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <button hidden id="refresh-2">Refresh</button>
  <div class="tab-pane container active" id="home">
      <div class="h4">Student Leave status</div>
      
      <div class="row h5 bg-secondary  p-3 rounded">
        <div class="col-xs col-sm ">Roll No</div><div class="col-xs col-sm ">Name</div><div class="col-xs col-sm">Reason</div><div class="col-xs col-sm ">Accept</div><div class="col-xs col-sm">Reject</div>
      </div>
      <div class="row mt-2" id="per">
      </div>
  </div>
  <div class="tab-pane container fade" id="menu1">{{>stafLeave title='faculty'}}</div>
  <div class="tab-pane container fade" id="menu2">
      <button id="refresh" class="btn btn-primary">Refresh</button>
    <!--status  -->
    <div class="h4 m-2">Leave History Status</div>
    <div id="history" class="container-fluid p-2 rounded bg-light">
      
    </div>

    <!--status  -->

  </div>
  
<!--Script-->

<script>
   $(document).ready(function(){
      var history;
      $('#refresh-2').click(function(){
        $.get("/student/leave?mentorPermision=Pending&mentorId="+$("#user").val(),function(data, statusTxt){
      if(statusTxt == "success"){
        var reqst='';
        for(obj of data){
          reqst+=(`<form class='f1'  method="POST" action="/student/leave/${obj._id}" enctype="application/x-www-form-urlencoded"><input type="hidden" name="_method" value="PATCH"><div class='row border-bottom p-2'><div class="col-xs col-sm p-1">${obj.user}</div><div class="col-xs col-sm p-1">${obj.name}</div><div class="col-xs col-sm p-1">${obj.reason}</div><div class="col-xs col-sm p-1"><button  class="btn btn-primary" name="mentorPermision" value="Accepted">Accept</button></div><div class="col-xs col-sm p-1"><button class="btn btn-warning" name="mentorPermision" value="Rejected">Reject</button></div></div></form>`);
        }
        $("#per").html(reqst);
         $('form.f1 button').on('click',function(e){

            e.preventDefault();
            const form=$(this.form);
            $.post(form.attr('action'),form.serialize()+"&mentorPermision="+$(this).attr('value'),function(data,status){
              if(status==='success'){
              $("#refresh-2").click();
                console.log(status);}
            });

           });

        }
       if(statusTxt == "error")  alert("Error: " + xhr.status + ": " + xhr.statusText);
       
    });
    });
    function getColor(status){
      if(status=='Pending')return "yellow";
      if(status=='Accepted')return "green";
      if(status=='Rejected')return "red";
    }

 
    $("#refresh").click(function(){
    $.get("/faculty/leave?user="+$("#user").val(), function(data, status){
      history=data;
      alert( "Status updated"+ "\nStatus: " + status);
      let ele='';
      for(obj of data){
        
      ele+=`<div class="flip mx-auto mt-2 row p-2 w-75 bg-dark text-white rounded " >
        <div class="col-sm">User :${obj.user}</div><div class="col-sm">From :${obj.from_date}</div><div class="col-sm">To :${obj.to_date}</div>
      </div>
      <div style='display:none;' class="panel row mx-auto rounded bg-info w-75 p-2" >
        <div class=" row input-group mb-3">
            <span class="input-group-text col-xs col-sm">HOD Permision:</span><input name="name" type="text" class="form-control col-xs col-sm"  value="${obj.permision1}" style='background-color:${getColor(obj.permision1)}' readonly />
        </div>
        <div class="row input-group mb-3">
            <span class="input-group-text col-xs col-sm">Director Permision:</span><input name="name" type="text" class="form-control col-xs col-sm" value="${obj.permision2}" style='background-color:${getColor(obj.permision2)}' readonly />
        </div>
      </div>`;
      }
    $("#history").html(ele);
    


      $(".flip").click(function(){
      $(this).next().slideToggle("slow");
      });

    });
  });
  function msg(data){
    $('#resMsg').html(data).css('background-color','#42e6f5');
        setTimeout(()=>{$('#resMsg').html("").css('background-color','');},5000);
  }
   $("#formId").submit(function(e){
    
    e.preventDefault();
    var fromDate=new Date($('#from').val());
    var toDate=new Date($('#to').val());
    var isIntersect=false;
    for(obj of history){
      console.log(obj);
      if(new Date(obj.from_date)<= toDate && new Date(obj.to_date) >= fromDate){
        isIntersect=true; break;
      }
    }
    console.log(fromDate>toDate);
    if(fromDate>toDate || isIntersect){
      msg("Invalid Leave Date");
    }else{
    $.post($(this).attr('action'),$(this).serialize(),function(data,status){
        msg(data);
        $("#refresh").click();
    });
    }
  });

  

    $("#refresh").click();
    $("#refresh-2").click();

    
  });
  function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
  /* window.history.forward();
        function noBack() {
            window.history.forward();
        }*/
    
</script>

</body>
</html>