<!DOCTYPE html>
<html lang="en">
<head>
   {{>meta title="faculty"}}
</head>
<body class="row" >
{{>header}}
<!--nav tab-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <input type="hidden" id="user" value="{{user}}"/>
    <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#menu1">Apply Leave</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#menu2">Status</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <button hidden id="refresh-2">Refresh</button>
  <div class="tab-pane container active" id="home">
      <div class="h4">Student Leave status</div>
      
      <div class="row h5 bg-secondary  p-3 rounded">
        <div class="col-xs col-sm ">Roll No</div><div class="col-xs col-sm ">Name</div><div class="col-xs col-sm">Reason</div><div class="col-xs col-sm ">Accept</div><div class="col-xs col-sm">Reject</div>
      </div>
      <div class="row mt-2" id="per">
      </div>
  </div>
  <div class="tab-pane container fade" id="menu1">{{>stafLeave title='faculty'}}</div>
  <div class="tab-pane container fade" id="menu2">
      <button id="refresh" class="btn btn-primary">Refresh</button>
    <!--status  -->
    <div class="col-xs col-sm-8 col-md-6  mt-2 mt-md-5 mb-5  mx-auto p-4 " style=" background-color: rgb(77, 69, 132); border-radius:20px; box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; ">
        <div class="row mb-3 h4  text-white overflow-hidden">
        <img src="/static/img.webp" alt="CMRIT STD LOGIN" style="width:100vw" />
        </div>
        <div class="d-flex row">
            <div class="col-xs col-sm-12 col-md-6 col-xl-6 text-center text-white overflow-hidden border-end">
                <p >Online Leave</p>
                <img class="mx-auto d-block mt-3 mb-3" src="/static/pofile.png" alt="This is profile" width="100vw">
                <p >CMR Institute Of Technology</p>
                <div>Name: <span>{{name}}</span></div>
                <div>Department: <span>{{department}}</span></div>
            </div>
            <div class="col-xs col-sm-12 col-md-6 col-xl-6 overflow-hidden text-white">
              <div>REQUEST TIME: <span id="time"></span></div>
              <div class="input-group mb-3">
                    <span class="input-group-text">user: </span><input type="text" class="form-control"  id="EmpNo"  readonly/>
              </div>
              <div class="input-group mb-3">
                    <span class="input-group-text">HOD </span><input type="text" class="form-control"  id="hodPermision"  readonly/>
              </div>
              <div class="input-group mb-3">
                    <span class="input-group-text">DIRECTOR </span><input type="text" class="form-control" id="directorPermision" readonly/>
              </div>
            </div>
        </div>
    </div>
    <!--status  -->

  </div>
  
<!--Script-->

<script>
   $(document).ready(function(){
      $('#refresh-2').click(function(){
        $.get("/student/leave?mentorPermision=Pending&mentorId="+$("#user").val(),function(data, statusTxt){
      if(statusTxt == "success"){
        var reqst='';
        for(obj of data){
          reqst+=(`<form class='f1'  method="POST" action="/student/leave/${obj.user}" enctype="application/x-www-form-urlencoded"><input type="hidden" name="_method" value="PATCH"><div class='row border-bottom p-2'><div class="col-xs col-sm p-1">${obj.user}</div><div class="col-xs col-sm p-1">${obj.name}</div><div class="col-xs col-sm p-1">${obj.reason}</div><div class="col-xs col-sm p-1"><button  class="btn btn-primary" name="mentorPermision" value="Accepted">Accept</button></div><div class="col-xs col-sm p-1"><button class="btn btn-warning" name="mentorPermision" value="Rejected">Reject</button></div></div></form>`);
        }
        $("#per").html(reqst);
         $('form.f1 button').on('click',function(e){

            e.preventDefault();
            const form=$(this.form);
            $.post(form.attr('action'),form.serialize()+"&mentorPermision="+$(this).attr('value'),function(data,status){
              if(status==='success'){
              $("#refresh-2").click();
                console.log(status);}
            });

           });

        }
       if(statusTxt == "error")  alert("Error: " + xhr.status + ": " + xhr.statusText);
       
    });
    });

 
    $("#refresh").click(function(){
    $.get("/faculty/leave?user="+$("#user").val(), function(data, status){
      alert( "Status updated"+ "\nStatus: " + status);
      if(data.length===0){
          $("#hodPermision,#directorPermision,#EmpNo").val("").css("background-color",'white');
          $("#time").html("");
      }else{
      data=data[0];
      $('#EmpNo').val(data.user);
      $("#time").html(data.date);
      $("#hodPermision").val(data.hodPermision).css("background-color","yellow");
      if(data.hodPermision=='Accepted')$("#hodPermision").css("background-color", "green");
      else if(data.hodPermision=='Rejected') $("#hodPermision").css("background-color", "red");

      $("#directorPermision").val(data.directorPermision).css("background-color","yellow");
      if(data.directorPermision=='Accepted')$("#directorPermision").css("background-color", "green");
      else if(data.directorPermision=='Rejected') $("#directorPermision").css("background-color", "red");
      }
    });
  });

   $("#formId").submit(function(e){
    e.preventDefault();
    $.post($(this).attr('action'),$(this).serialize(),function(data,status){
         $('#resMsg').html(data).css('background-color','#42e6f5');
        setTimeout(()=>{$('#resMsg').html("").css('background-color','');},5000);
        $("#refresh").click();
    });
  });

  

    $("#refresh").click();
    $("#refresh-2").click();
    

    
  });
   window.history.forward();
        function noBack() {
            window.history.forward();
        }
</script>

</body>
</html>